.fixedHeader {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.header-logo {
  height: 3rem;
  width: auto;
  padding-top: 0.5rem;
}

.header-right {
  margin-right: -1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.main-content {
  margin-top: 7em;
  padding-left: 20px;
}
